<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/DKE-Data/index.json" />
  </packageSources>
  <packageSourceCredentials>
        <github>
            <add key="Username" value="saschadoemer" />
            <add key="ClearTextPassword" value="a9f677ee0ce4d29779c6b3a671b533a33486cb65" />
        </github>
    </packageSourceCredentials>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>
